.posts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.postsBox {
    width: 500px;
}

.postItem {
    width: 500px;
    margin-bottom: 15px;
}

.posts_filter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.posts_filter_text {
    font-weight: 600;
}

.posts_button {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 200px;
}