.login_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login_text {
    font-size: 30px;
    font-weight: 600;
}

.button_submit {
    display: none;
}